.custom-col-padding > [class*='col-'] {
    padding: 3px;
}


.d-flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-grow {
    flex-grow:1;
}

button {
    font-size: 5vw !important;
}